"""This module provides tests for CLI module."""

from click.testing import CliRunner

from {{ package_name }} import __version__
from {{ package_name }}.cli import main


def test_cli() -> None:
    """Test the CLI program."""
    runner = CliRunner()
    result = runner.invoke(main, ["--name", "test", "--count", "1"])
    assert result.exit_code == 0
    assert result.output.startswith(f"Hello test! I am {{ project_name }} v{__version__}.\n")
